<table style="width: 570px; border-width: 1px; border-color: #c0c0c0; background-color: #e1e4e8; border-collapse: collapse; height: 627px;">
  <tbody>
    <tr>
      <td style="width: 100%; border: 1px solid #c0c0c0;">
        <table style="width: 565px; border-color: #c0c0c0; border-collapse: collapse; height: 698px; border-width: 0px;">
          <tbody>
            <tr>
              <td style="width: 100%; border-image: initial; border-color: #c0c0c0;">
                <table style="height: 54px; width: 550px; border-color: #000000; background-color: #ffffff; border-collapse: collapse; border-width: 0px; margin-left: auto; margin-right: auto;">
                  <tbody>
                    <tr>
                      <td style="width: 100%; border-color: #000000;">
                        <div style="text-align: center;">
                          <img src="https://ssm.docs.cern.ch/SSM/templates/logo.png" alt="" style="width: 530px; height: 85px;"/>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table style="height: 323px; width: 550px; border-color: #000000; border-collapse: collapse; border-width: 0px; margin-left: auto; margin-right: auto;">
                  <tbody>
                    <tr>
                      <td style="width: 550px; background-color: #ffffff; border-color: #000000;">
                        <table style="width: 530px; border-color: #000000; background-color: #ffffff; border-collapse: collapse; border-width: 0px; margin-left: auto; margin-right: auto; height: 463px;">
                          <tbody>
                            <tr style="height: 23px; background-color: #00994c; text-align: left;">
                              <td style="width: 526px; text-align: left; background-color: #00994c; height: 23px; border-color: #000000;" colspan="2">
                                <p style="text-align: center;">
                                  <span style="color: #ffffff; font-size: 10pt; font-family: Arial;">
                                    <strong>
                                      <span style="font-size: 18pt;">Problem Resolved</span>
                                    </strong>
                                  </span>
                                </p>
                                <p style="text-align: center;">
                                  <span style="font-family: Arial;">
                                    <strong>
                                      <span style="font-size: 14pt;">
                                        <span style="color: #ffffff;">{TRIGGER.SEVERITY}: {TRIGGER.NAME}</span>
                                      </span>
                                    </strong>
                                  </span>
                                </p>
                              </td>
                            </tr>
                            <tr style="height: 24px; width: 526px; border-color: #000000; background-color: #99cc00; text-align: left;" class="dxhe-resizable-table-cell">
                              <td style="width: 526px; text-align: left; background-color: #99cc00; height: 24px; border-color: #000000;" colspan="2">
                                <div style="text-align: center;">
                                  <span style="font-size: 14pt; font-family: Arial;">
                                    <strong>TRIGGER INFORMATION</strong>
                                  </span>
                                </div>
                              </td>
                            </tr>
                            <tr style="height: 256px; text-align: left;">
                              <td style="width: 165px; text-align: left; border-color: #000000;">
                                <p style="text-align: left;">
                                  <span style="font-family: Arial;">
                                    <strong>
                                      <span style="font-size: 10pt;">
                                        <strong>
                                          <strong>Status:</strong>
                                        </strong>
                                        <br />
                                      </span>
                                    </strong>
                                  </span>
                                </p>
                                <p style="text-align: left;">
                                  <span style="font-family: Arial;">
                                    <strong>
                                      <span style="font-size: 10pt;">Problem resolved:</span>
                                    </strong>
                                  </span>
                                </p>
                                <p style="text-align: left;">
                                  <span style="font-family: Arial;">
                                    <strong>
                                      <span style="font-size: 10pt;">
                                        <strong>
                                          <strong style="color: #222222; font-family: Arial, Helvetica, sans-serif; font-size: small; text-decoration-color: initial;">Problem duration:</strong>
                                          <br />
                                        </strong>
                                      </span>
                                    </strong>
                                  </span>
                                </p>
                                <p style="text-align: left;">
                                  <span style="font-family: Arial;">
                                    <strong>
                                      <span style="font-size: 10pt;">
                                        <strong>Severity:</strong>
                                      </span>
                                    </strong>
                                  </span>
                                </p>
                                <p style="text-align: left;">
                                  <span style="font-family: Arial;">
                                    <strong>
                                      <span style="font-size: 10pt;">
                                        <strong>Item Key:&nbsp;</strong>
                                      </span>
                                    </strong>
                                  </span>
                                </p>
                                <p style="text-align: left;">
                                  <span style="font-family: Arial;">
                                    <strong>
                                      <span style="font-size: 10pt;">
                                        <strong>
                                          <strong>Last Value:</strong>
                                        </strong>
                                      </span>
                                    </strong>
                                  </span>
                                </p>
                                <p style="text-align: left;">
                                  <span style="font-family: Arial;">
                                    <strong>
                                      <span style="font-size: 10pt;">
                                        <strong>
                                          <strong>
                                            <strong>
                                              <strong>Description:</strong>
                                            </strong>
                                          </strong>
                                        </strong>
                                      </span>
                                    </strong>
                                  </span>
                                </p>
                              </td>
                              <td style="width: 358px; text-align: left; border-color: #000000;">
                                <p style="text-align: left;">
                                  <span style="font-size: 10pt; font-family: Arial;">{TRIGGER.STATUS}
                                    <br />
                                  </span>
                                </p>
                                <p style="text-align: left;">
                                  <span style="font-size: 10pt; font-family: Arial;">at {EVENT.RECOVERY.TIME} on {EVENT.RECOVERY.DATE} </span>
                                </p>
                                <p style="text-align: left;">
                                  <span style="font-size: 10pt; font-family: Arial;">{EVENT.DURATION}
                                    <br />
                                  </span>
                                </p>
                                <p style="text-align: left;">
                                  <span style="font-size: 10pt; font-family: Arial;"> {TRIGGER.SEVERITY} </span>
                                </p>
                                <p style="text-align: left;">
                                  <span style="font-family: Arial;">
                                    <span style="font-size: 10pt;">{ITEM.KEY1}</span>
                                  </span>
                                </p>
                                <p style="text-align: left;">
                                  <span style="font-family: Arial;">
                                    <span style="font-size: 10pt;">{ITEM.VALUE1}</span>
                                  </span>
                                </p>
                                <p style="text-align: left;">
                                  <span style="font-family: Arial;">
                                    <span style="font-size: 10pt;">{TRIGGER.DESCRIPTION}
                                      <br />
                                    </span>
                                  </span>
                                </p>
                              </td>
                            </tr>
                            <tr style="height: 25px; width: 526px; border-color: #000000; background-color: #99cc00; text-align: center;" class="dxhe-resizable-table-cell">
                              <td style="width: 526px; background-color: #99cc00; text-align: center; height: 18px; border-color: #000000;" colspan="2">
                                <span style="font-size: 14pt; font-family: Arial;">
                                  <strong>HOST&nbsp;
                                    <strong>INFORMATION</strong>
                                  </strong>
                                </span>
                              </td>
                            </tr>
                            <tr style="height: 128px; text-align: left;">
                              <td style="width: 165px; text-align: left; border-color: #000000; height: 142px;">
                                <p style="text-align: left;">
                                  <span style="font-family: Arial;">
                                    <strong>
                                      <span style="font-size: 13.3333px;">Name:</span>
                                    </strong>
                                  </span>
                                </p>
                                <p style="text-align: left;">
                                  <span style="font-family: Arial;">
                                    <strong>
                                      <span style="font-size: 13.3333px;">
                                        <strong>Uptime:</strong>
                                      </span>
                                    </strong>
                                  </span>
                                </p>
                                <p style="text-align: left;">
                                  <span style="font-family: Arial;">
                                    <strong>
                                      <span style="font-size: 13.3333px;">CPU:</span>
                                    </strong>
                                  </span>
                                </p>
                                <p style="text-align: left;">
                                  <span style="font-family: Arial;">
                                    <strong>
                                      <span style="font-size: 13.3333px;">Memory:</span>
                                    </strong>
                                  </span>
                                </p>
                              </td>
                              <td style="width: 358px; text-align: left; border-color: #000000; height: 142px;">
                                <p style="text-align: left;">
                                  <span style="font-size: 10pt; font-family: Arial;"> {HOST.NAME1} ({HOST.IP1}) </span>
                                </p>
                                <p style="text-align: left;">
                                  <span style="font-size: 10pt; font-family: Arial;"> {{HOST.HOST}:system.uptime.last()} </span>
                                </p>
                                <p style="text-align: left;">
                                  <span style="font-size: 10pt; font-family: Arial;"> {{HOST.HOST}:system.cpu.util.last()} </span>
                                </p>
                                <p style="text-align: left;">
                                  <span style="font-size: 10pt; font-family: Arial;"> {{HOST.HOST}:vm.memory.utilization.last()} </span>
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!---
                <table style="height: 60px; width: 550px; border-color: #000000; border-collapse: collapse; border-width: 0px; margin-left: auto; margin-right: auto;">
                  <tbody>
                    <tr>
                      <td style="width: 542px; border-color: #000000;">
                        <table style="height: 44px; width: 328px; border-color: #000000; border-collapse: collapse; border-width: 0px; margin-left: auto; margin-right: auto;">
                          <tbody>
                            <tr style="text-align: center;">
                              <td style="width: 12.6111%; background-color: #ff0000; border-color: #000000;">
                                <span style="font-family: Arial;">
                                  <strong>
                                    <span style="color: #ffffff; font-size: 24pt;"> Z </span>
                                  </strong>
                                </span>
                              </td>
                              <td style="width: 87.3889%; border-color: #000000;">
                                <span style="font-family: Arial; font-size: 18pt;">
                                  <strong>Zabbix Monitoring</strong>
                                </span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                --->
                <table style="width: 550px; border-color: #000000; background-color: #646d7e; border-collapse: collapse; height: 27px; border-width: 0px; margin-left: auto; margin-right: auto;">
                  <tbody>
                    <tr>
                      <td style="width: 100%; text-align: center; border-color: #000000;">
                        <span style="color: #ffffff; font-size: 10pt; font-family: Arial;"> Copyright© 2025 - EN/AA SSM</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>