
<H3>Problem name: {{EVENT.NAME}.htmlencode()}</H3><br>
<H3>Host: {{HOST.NAME}.htmlencode()}</H3><br>
<b>Problem started</b> at {{EVENT.TIME}.htmlencode()} on {{EVENT.DATE}.htmlencode()}<br>
<b>Severity:</b> {{EVENT.SEVERITY}.htmlencode()}<br>
<b>Operational data:</b> {{EVENT.OPDATA}.htmlencode()}<br>
<b>Original problem ID:</b> {{EVENT.ID}.htmlencode()}<br>
{{TRIGGER.URL}.htmlencode()}

<b>Check it here: https://ssm-zabbix2.cern.ch/zabbix.php?action=problem.view&filter_triggerids[]={EVENT.ID}</b>