<H3>Problem name: {{EVENT.NAME}.htmlencode()}</H3><br>
<H3>Host: {{HOST.NAME}.htmlencode()}</H3><br>
<b>Problem has been resolved</b> at {{EVENT.RECOVERY.TIME}.htmlencode()} on {{EVENT.RECOVERY.DATE}.htmlencode()}<br>
<b>Problem duration:</b> {{EVENT.DURATION}.htmlencode()}<br>
<b>Severity:</b> {{EVENT.SEVERITY}.htmlencode()}<br>
<b>Original problem ID:</b> {{EVENT.ID}.htmlencode()}<br>
{{TRIGGER.URL}.htmlencode()}